<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :link %><br>
    <%= f.text_field :link %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :blurb %><br>
    <%= f.text_field :blurb %>
  </div>
  <div class="field">
    <%= f.label :category %><br>
    <%= f.select(:category) do %>
      <% [['Cats', 'Cats'], ['Cool', 'Cool'], ['WTF', 'WTF']].each do |c| -%>
      <%= content_tag(:option, c.first, value: c.last) %>
    <% end %>
<% end %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.select :user_id, @all_users %>
  </div>
  <div class="actions">
    <%= button_to("Submit", {action: "create"}, class: "btn btn-primary") %>
  </div>
<% end %>
