<!DOCTYPE html>
<html>
<head>
  <title>LinkyApp</title>
  <link href='//fonts.googleapis.com/css?family=Montserrat:700,400' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div class="logo"><%= image_tag 'linky-logo.png', class: "logo-img" %></div>
    <h1><a href="/">Linky</a></h1>
  </header>
  <nav>
    <ul>
      <li><%= link_to 'Posts', posts_path %></li>
    <% if @current_user %>
      <li><%= "Hi, #{@current_user.email}!" %></li>
      <li><%= link_to 'New Post', new_post_path %></li>
    <% end %>
      <% if logged_in? %>
        <li><%= link_to 'Logout', logout_path %></li>
      <% else %>
        <li><%= link_to 'Sign Up', new_user_path %></li>
        <li><%= link_to 'Login', login_path %></li>
      <% end %>
    </ul>
  </nav>

<%= yield %>

</body>
</html>
